h1{
background-color:burlywood;
font-style: oblique;
}
img{
    width:250px;
    height: 250px;
    margin-left:25%;
    border:2px solid black;
}
ul{
    list-style-position: inside;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px; 
}
body{
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    background-color: aliceblue;
}
