.formulaire{
    font-size: 20px;
}
body{
    margin-left: 25%;
    padding: 2%;
    background-image:url(../images/miammiammioum.jpg);
    background-repeat: no-repeat;
    float: left;
    
}
h1{
    margin: auto;
    padding: auto;
    background-color:blanchedalmond;
}