h1{
background-color:burlywood;
font-style: oblique;
transition-property: background-color, transform;
transition-duration: 0.2s;
}
img{
    width:300px;
    height: 250px;
    margin-left:25%;
    border:2px solid black;
}
ul{
    list-style-position: inside;
    line-height:35px;
}
h2{
    font-size: 50px;
}
body{
    font-family: Cinzel-black,Arial, Helvetica, sans-serif;
    width: 50%;
    margin: auto;
    background-color: rgb(175, 210, 241);
}
.imgfloat{
    float:right;
    margin-right: 10%;
}
@font-face {
    font-family: cinzel-black;
    src: url(../fonts/Cinzel-Black.ttf);
}
p{
    margin-top:3em;
    margin-bottom: 3em ;
}
.présentation{
    font-size:2em;
    color: rgb(6, 105, 72);
}
.la-loose{
    font-style: italic;
    font-size: 20px;
}
.talents{
    font-size: 30px;
}
h3{
    text-decoration: underline;
}
h1:hover{
background-color: blanchedalmond;
transform: scale(1.5);
}
@keyframes georgesEnFolie {
    0%{
        border-radius: 0px;
        transform: skewY(10deg) skewX(20deg) scale(1) rotate(0deg)
    }
    10%{
        border-radius: 20px;
        transform: skewY(15deg) skewX(40deg) scale(1.2) rotate(20deg);
    }  
30%{
    border-radius: 30px;
    transform:skewY(5deg) skewX(60deg) scale(1.4) rotate(60deg);

}
60%{
    border-radius: 50px;
    transform: skewY(-5deg) skewX(50deg) scale(1.6) rotate(120deg);
}
70%{
    border-radius: 20px;
    transform: skewY(-15deg) skewX(27deg) scale(1.4) rotate(220deg);
}
80%{
    border-radius: 10px;
    transform: skewY(-5deg) skewX(20deg) scale(1.2) rotate(280deg);
}
100%{
    border-radius: 0px;
    transform: skewY(0deg) skewX(0deg) scale(1) rotate(360deg);
}
}

img:hover{
    animation-name: georgesEnFolie;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /* animation: georgesEnFolie 2s infinite; */
}